version: '3'
services:
  jekyll:
    image: jekyll/jekyll:latest
    user: root
    command: >
      sh -c "bundle install &&
             bundle exec jekyll serve --watch --force_polling --host 0.0.0.0"
    ports:
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development