<footer class="footer">
    <div class="container">
        <!-- Site Analytics -->
        <div class="row mb-3">
            <div class="col-12">
                <div class="text-center">
                    <div class="analytics-container">
                        <div class="clustrmap-container">
                            <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=Uvq6cfvShluqUmf4KDhLMAeCNSkQS2WGYYFPTKcjP40&cl=ffffff&w=300&h=200"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Original Footer Content -->
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer>
