<!-- Education/Industry Experience + Service -->
<div class="row section-grid">
    <!-- Education + Industry Experience in one card -->
    <div class="col-md-6">
        <div class="card">
            <div class="section-card-body">
                <h6 class="section-subheading"><i class="fas fa-graduation-cap"></i>Education</h6>
                <ul class="experience-list">
                    {% for item in site.data.profile.education %}
                    <li>
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}">
                        <div>
                            <div class="experience-name">{{ item.name }}</div>
                            {% if item.dept %}
                            <div class="experience-meta">{{ item.dept }}</div>
                            {% endif %}
                            <div class="experience-meta">
                                <span>{{ item.position }}</span>
                                <span class="date-label">{{ item.date }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <hr class="my-3">

                <h6 class="section-subheading"><i class="fas fa-briefcase"></i>Industry Experience</h6>
                <ul class="experience-list">
                    {% for item in site.data.profile.experience %}
                    <li>
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}">
                        <div>
                            <div class="experience-name">{{ item.name }}</div>
                            {% if item.dept %}
                            <div class="experience-meta">{{ item.dept }}</div>
                            {% endif %}
                            <div class="experience-meta">
                                <span>{{ item.position }}</span>
                                <span class="date-label">{{ item.date }}</span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Service + Awards -->
    <div class="col-md-6">
        <div class="card">
            <div class="section-card-body">
                <h6 class="section-subheading" id="service"><i class="fas fa-handshake"></i>Service</h6>
                <ul class="compact-list">
                    {% for item in site.data.profile.service %}
                    <li>
                        <div>{{ item.name }}</div>
                    </li>
                    {% endfor %}
                </ul>

                <hr class="my-3">

                <h6 class="section-subheading" id="teaching"><i class="fas fa-chalkboard-teacher"></i>Teaching</h6>
                <ul class="compact-list">
                    {% for item in site.data.profile.teaching %}
                    <li>
                        <div class="teaching-row">
                            <div>{{ item.name }}</div>
                            <div class="date-label">{{ item.date }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <hr class="my-3">

                <h6 class="section-subheading" id="awards"><i class="fas fa-award"></i>Awards</h6>
                <ul class="compact-list">
                    {% for item in site.data.profile.awards %}
                    <li>
                        <div class="award-row">
                            <div>{{ item.name }}</div>
                            <div class="date-label">{{ item.date }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
