{% assign news_items = site.data.news | sort: "date" | reverse %}
{% assign news_by_year = news_items | group_by_exp: "item", "item.date | date: '%Y'" -%}

<section class="news-card">
    <h6 class="news-card-header"><i class="fas fa-rss"></i>News</h6>
    <div class="news-card-body">
        {% for year in news_by_year %}
        <div class="news-year">
            <div class="news-year-label">{{ year.name }}</div>
            <div>
                {% for item in year.items %}
                <div class="news-entry">
                    <div>{{ item.title }}</div>
                    <div class="date-label">{{ item.date | date: "%b %d" }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
