<!-- Talks -->
<div class="row mb-4" id="talks-teaching">
    <div class="col-12">
        <div class="card border-0 shadow-sm bg-white h-100" id="talks">
            <h6 class="p-3 mb-0" style="font-weight: bold;"><i class="fas fa-microphone mr-2"></i>Talks</h6>
            <div class="px-3 pb-1">
                <ul class="list small pl-3 mb-1">
                    {% assign talks = site.data.profile.talks | sort: "date" | reverse %}
                    {% for talk in talks limit:5 %}
                    <li class="mb-2">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <a href="{{ talk.url }}" target="_blank">{{ talk.title }}</a>
                            </div>
                            <div class="ml-auto no-break align-self-start"><em>{{ talk.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
